$body_text_color:   #404042 !default;
$border_color:      lighten($body_text_color, 60) !default;
$default_border:    1px solid $border_color !default;

body {
    background: asset-url("store/background-mirror.jpg", image) fixed;
    background-size: cover;
}

.container {
    width: 1335px;
}

.container .twelve.columns {
    width: 1000px;
}

.container .three.columns {
    width: 190px;
}

footer#footer {
    margin-left: 175px;
}

#logo img {
    margin-top: 15px;
    height: 155px;
    width: 205px;
}

#shop-name {
    margin-top: 15px;
    margin-left: 220px;
    position: absolute;
    height: 49px;
    font-size: 39px;
    text-align: center;
    padding-top: 29px;
    background: asset-url("store/grey-sprite.png") repeat-x;
    width: 750px;
}

#sidebar {
  width: 295px;
}
#garanty {
    margin-top: 15px;
    position: absolute;
    margin-left: 975px;

    img {
        height: 78px;
        width: 70px;
    }
}

#phone {
    margin-top: 15px;
    position: absolute;
    margin-left: 1048px;

    img {
        height: 78px;
        width: 278px;
    }
}

#cards {
    margin-top: 100px;
    margin-left: 1122px;
    position: absolute;

    img {
        height: 50px;
        width: 190px;
    }
}

.not {
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 30px;

    a {
        color: black;
        font-size: 20px;
        font-weight: 500;
    }
}

.current {
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 30px;

    a {
        color: black;
        font-size: 20px;
        font-weight: 500;
    }
}

.product-variants-table {
  border: $default_border;
  padding: 10px;
  width: 100%;
}

