$body_text_color:   #404042 !default;
$border_color:      lighten($body_text_color, 60) !default;
$default_border:    1px solid $border_color !default;

body {
    background: asset-url("store/background-mirror.jpg", image) fixed;
    background-size: cover;
    min-width: 980px;
    max-width: 1280px;
}

.container {

    width: 1280px;
}

.container .twelve.columns {
    /*width: 1000px;*/
    width: 945px;
}

.container .three.columns {
    width: 190px;
}

footer#footer {
    margin-left: 175px;
}

#logo img {
    margin-top: 15px;
    height: 155px;
    width: 205px;
}

figure#logo img {
    padding-top: 0px;
}

#shop-name {
    margin-top: 15px;
    margin-left: 220px;
    position: absolute;
    height: 49px;
    font-size: 39px;
    text-align: center;
    padding-top: 29px;
    background: asset-url("store/grey-sprite.png") repeat-x;
    width: 750px;
}

#sidebar {
  width: 295px;
}
#garanty {
    margin-top: 15px;
    position: absolute;
    margin-left: 975px;

    img {
        height: 78px;
        width: 70px;
    }
}

#phone {
    margin-top: 15px;
    position: absolute;
    background: url(/assets/store/phone.png) 224px 78px;
    background-size: 278px 78px;
    margin-left: 1048px;
    width: 225px;
    height: 78px;

    /*img {
        height: 78px;
        width: 278px;
    }*/
}

#cards {
    margin-top: 100px;
    /*margin-left: 1122px;*/
    margin-left: 1083px;
    position: absolute;

    img {
        height: 50px;
        width: 190px;
    }
}

.not {
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 30px;

    a {
        color: black;
        font-size: 20px;
        font-weight: 500;
    }
}

.current {
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 30px;

    a {
        color: black;
        font-size: 20px;
        font-weight: 500;
    }
}

.product-variants-table {
  border: $default_border;
  padding: 10px;
  width: 100%;
}

#update-cart {
    background: whitesmoke;
}

#shipping {
    display: none;
}

#checkout_form_delivery {
    width: 800px;
}

#shipping_method {
    background: white;
}
#payment {
    background: whitesmoke;
}
#checkout_form_payment {
    width: 800px;
}
#order_summary {
    background: whitesmoke;
}

