$body_text_color:   #404042 !default;
$border_color:      lighten($body_text_color, 60) !default;
$default_border:    1px solid $border_color !default;

/*
body {
    background: asset-url("store/background-mirror.jpg", image) fixed;
    background-size: cover;
    min-width: 980px;
    max-width: 1280px;
}
*/

body {
    background: #f5f5f5;
    font-family: HeliosStdRegular, Arial, Helvetica, sans-serif;
    color: #383451;
    height: 100%;
    font-size: 14px;
}

table tbody tr.alt{
    background-color: gainsboro;
}

#page_content{
    margin: 0 0 0 120px;
    width: 680px;
    text-align: left;
    position: relative;
}

.container {
    width: 980px;
}

a {
    color: #383451;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #e06a60;
}

nav #main-nav-bar{
    border-bottom: 0px;
}

nav #main-nav-bar li#link-to-cart {
  background: asset-url("store/shopping_basket_3924.png") no-repeat left center;
  padding-bottom: 3px;
}

nav #main-nav-bar li#link-to-cart a {
    color: #383451;
}

nav #main-nav-bar li#link-to-cart a:hover{
    color: #e06a60;
}

nav#top-nav-bar {
 text-align: left;
 margin-top: 11px;
}

nav#top-nav-bar ul li {
margin-bottom: 5px;
padding-left: 0px;
}

nav#top-nav-bar ul li a {
    font-weight: 100;
    font-size: 11px;
    text-transform: none;
    color: #383451;
}

.submenu {
    background: #e06a60;
    position: absolute;
    left: 0;
    top: 0px;
    margin-top: 32px;
    width: 960px;
    /*display: none;*/
    text-align: left;
}

.pl-2 ul {
    padding-left: 120px !important;
}

/*.submenu li {
    display: inline-block;
    padding: 0;
}*/

.submenu li a {
    color: #f5e3be !important;
    font-size: 14px !important;
    font-weight: bold;
    display: inline;
    line-height: 27px;
    padding: 5px 0 0 0 !important;
    background: none;
    position: relative;
}

#link-to-login a{
    background: asset-url("store/icon_enter.gif") no-repeat 0 0;
    padding: 0 0 5px 25px;
}

#link-to-registration a{
    background: asset-url("store/icon_reg.png") no-repeat 0 0;
    margin-left: 29px;
    padding-left: 18px;
}

.punctir{
    border-bottom: 1px dashed #383451;
}

.tel {
    float: left;
    width: 165px;
    font-style: normal;
    font-size: 13px;
    padding-top: 8px;
}

.tel .num {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}


#main-nav-bar {
    padding: 0 0 30px 0px;
    text-align: center;
    position: relative;
}

nav #main-nav-bar {
    text-transform: none;
    font-weight: normal;
}

#main-nav-bar li{
    padding-left: 50px;
}

nav #main-nav-bar li a {
    font-size: 20px;
    padding: 5px;
}

nav #main-nav-bar li.current a{
    color: #e06a60;
}

/*

.container .twelve.columns {
    /*width: 1000px
    width: 945px;
}

.container .three.columns {
    width: 190px;
}

footer#footer {
    margin-left: 175px;
}
*/

#logo img {
    /*margin-top: 15px;*/
    height: 67px;
    width: 200px;
}

#garanty{
    float: right;
    margin-right: 207px;
    height: 128px;
    width: 112px;
    display: block;
    z-index: 1000;
    background: asset-url("store/3_years.png") no-repeat scroll 0 0 transparent;
}

.current .arr-g {
    background: asset-url("store/arr_t_clr.gif") no-repeat;
    position: absolute;
    top: 28px;
    /*left: 29%;*/
    width: 7px;
    height: 4px;
    margin-left: 35px;
}

.arr-w{
    background: asset-url("store/arr_t_w.gif") no-repeat bottom;
    position: absolute;
    top: 21px;
    /*left: 50%;*/
    margin-left: 30px;
    width: 9px;
    height: 6px;
}

.h1{
    color: #8d2c5d;
    font: normal 30px HeliosStdRegular, Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding-top: 15px;
}

.catalog-item {
    padding-top: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 220px;
    float: left;
    height: 485px;
  }
  .catalog-item:hover{
    box-shadow: 0 0 3px #555;
    border-radius: 3px;
  }
  div.catalog-item:hover div{
    color: #383451 !important;
  }
  .cat-h {
  color: #383451;
  font-size: 18px;
  padding: 15px 0 7px 0;
  }

  #existing-customer{
    margin-left: 128px;
  }

.progress-steps li {
    color: #f5e3be;
    text-transform: none;
}

.progress-steps li.current-first, .progress-steps li.current {
    background-color: #e06a60;
    color: white;
}

.progress-steps  div.arr-w{
    top: 22px;
}

#billing legend, #shipping legend,
#shipping_method legend,
#payment legend, #order_details legend,
#order_summary legend {
    color: #404042;
}

span.price,
#checkout-summary table tr[data-hook="item_total"] td:last-child strong,
#checkout-summary table #summary-order-total, #order_details td.price span,
#order_details td.total span, #order_summary td.price span,
#order_summary td.total span,
table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"],
table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"],
div[data-hook="inside_cart_form"] #subtotal span.order-total {
    color: #404042;
}

.submenu .progress-steps li a{
    line-height: 0px !important;
}

#shipping_method .stock-location {
    background-color: darkgray;
}

#shipping_method .shipping-methods .shipping-method label .rate-cost {
    color: chocolate;
}

nav #main-nav-bar li#link-to-cart:hover .amount{
    border-color: #d9d9db;
}

::selection {
    background: lightgray;
    color: #383451;
    text-shadow: none;
}

.flash, .errorExplanation {
    margin-right: 10px;
    margin-left: 10px;
}

.flash.notice, .notice.errorExplanation {
    background-color: #8dba53;
}

textarea:active, textarea:focus, input[type="date"]:active,
input[type="date"]:focus, input[type="datetime"]:active,
input[type="datetime"]:focus, input[type="datetime-local"]:active,
input[type="datetime-local"]:focus, input[type="datetime-local"]:active,
input[type="datetime-local"]:active, input[type="datetime-local"]:focus,
input[type="email"]:active, input[type="email"]:focus,
input[type="month"]:active,input[type="month"]:focus,
input[type="number"]:active, input[type="number"]:focus,
input[type="password"]:active, input[type="password"]:focus,
input[type="search"]:active, input[type="search"]:focus,
input[type="tel"]:active, input[type="tel"]:focus,
input[type="text"]:active, input[type="text"]:focus,
input[type="time"]:active, input[type="time"]:focus,
input[type="url"]:active, input[type="url"]:focus,
input[type="week"]:active, input[type="week"]:focus{
    border: 1px solid darkslategray;
}

#new-customer{
    margin-left: 100px;
}

/*

figure#logo img {
    padding-top: 0px;
}

#shop-name {
    margin-top: 15px;
    margin-left: 220px;
    position: absolute;
    height: 49px;
    font-size: 39px;
    text-align: center;
    padding-top: 29px;
    background: asset-url("store/grey-sprite.png") repeat-x;
    width: 750px;
}

#sidebar {
  width: 295px;
}
#garanty {
    margin-top: 15px;
    position: absolute;
    margin-left: 975px;

    img {
        height: 78px;
        width: 70px;
    }
}

#phone {
    margin-top: 15px;
    position: absolute;
    background: asset-url("store/phone.png") 224px 78px;
    background-size: 278px 78px;
    margin-left: 1048px;
    width: 225px;
    height: 78px;

    img {
        height: 78px;
        width: 278px;
    }
}

/*#cards {
    margin-top: 100px;
    margin-left: 1122px;
    margin-left: 1083px;
    position: absolute;

    img {
        height: 50px;
        width: 190px;
    }
}

.not {
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 30px;

    a {
        color: black;
        font-size: 20px;
        font-weight: 500;
    }
}

.current {
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 30px;

    a {
        color: black;
        font-size: 20px;
        font-weight: 500;
    }
}

.product-variants-table {
  border: $default_border;
  padding: 10px;
  width: 100%;
}

#update-cart {
    background: whitesmoke;
}

#shipping {
    display: none;
}

#checkout_form_delivery {
    width: 800px;
}

#shipping_method {
    background: white;
}
#payment {
    background: whitesmoke;
}
#checkout_form_payment {
    width: 800px;
}
#order_summary {
    background: whitesmoke;
}

*/