<header id="header" class="row" data-hook>
  <figure id="logo" style="display:inline;width:200px" data-hook><%= logo %></figure>
  <!--<figure id="logo" class="columns" data-hook><%# logo %></figure> -->
  <!--<div id="shop-name"><%# Spree.t(:shop_name) %></div> -->
  <!--
    <div id="phone">
      <%# image_tag 'store/phone.png' %>
    </div>
    <div id="garanty">
      <%# image_tag 'store/garanty.png' %>
    </div>
    <div id="cards">
      <%# image_tag 'store/cards.png' %>
    </div>
  -->
  <div id="garanty"></div>
  <%= render :partial => 'spree/shared/nav_bar' %>
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>
