<nav id="top-nav-bar" class="" style="position: absolute;
width: 190px;
right: 0;
top: 0px;">
  <ul id="nav-bar" class="inline" data-hook>
    <li id="search-bar" data-hook>
      <%# render :partial => 'spree/shared/search' %>
      <div class="tel" align="center">
        <div class="num">
          (812)560-09-46
        </div>
        <br>
        c 11-00 до 20-00
        <br>
        без обеда и выходных
      </div>
    </li>
  </ul>
</nav>
